.dj-card-list {
  display: flex;
  margin-top: 30px;
  margin-bottom: 100px;
}

@media screen and (min-width: 1000px) {
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .desktop {
    display: none;
  }

  .mobile {
    margin-top: 30px;
    margin-bottom: 100px;
  }
}
