.contact-information-col p {
  text-align: left;
  white-space: pre-line;
  vertical-align: bottom;
}

.contact-information-col h3 {
  text-align: left;
  white-space: pre-line;
  vertical-align: bottom;
}

.contact-information-col h6 {
  text-align: left;
  white-space: pre-line;
  vertical-align: bottom;
}
