/* Banner */
.banner {
  display: inline-block;
  color: var(--mainWhite);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  width: 100%;
  margin-bottom: 30px;
  margin-top: 50px;
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
/* End of Banner */
