.footer {
  background-color: var(--secondaryColor);
  text-align: center;
  padding-bottom: 30px;
}

.footer a {
  margin-left: 5px;
  margin-right: 5px;
}

.social-media-link {
  transition: 0.3s;
}

.social-media-link:hover {
  color: var(--primaryColor) !important;
}
