* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none !important;
}

:root {
  --primaryColor: #e84545;
  --secondaryColor: #53354a;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: "Century Gothic";
  src: url("./fonts/gothicb.ttf");
}

@font-face {
  font-family: "Avenir Roman";
  src: url("./fonts/AvenirLTStd-Roman.otf");
}

/* globals */
body {
  color: var(--mainWhite);
  background: var(--mainBlack);
  font-family: Avenir Roman, sans-serif;
  line-height: 1.4;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  font-family: Century Gothic, sans-serif;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-family: Century Gothic, sans-serif;
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-family: Century Gothic, sans-serif;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-family: Century Gothic, sans-serif;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-family: Century Gothic, sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-family: Century Gothic, sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary-main {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1em;
}
.btn-primary-main:hover {
  background: black;
  color: var(--primaryColor);
}
/* end of globals */
